@charset "utf-8";

.admin-table {
	border-spacing: 0;
	border: 1px solid #cecece;
	font-family: sans-serif;
	width: 100%;
	thead {
		background: #cecece;
		color: #fff;
		font-family: "Open Sans", sans-serif;
		font-size: 14pt;
		text-align: left;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
		text-transform: uppercase;
	}
	tbody tr > :first-child,
	thead tr > :first-child {
		width: 15px;
	}
	thead tr {
		height: 50px;
	}
	tbody>:nth-child(even) {
		background: #e7e8e8;
	}
	td {
		border: 1px solid #cecece;
		padding: 10px;
	}
}
