.sass-cache
*.swp
*.tmp
*.bak

database
vendor

# npm issues
npm-debug.log

# Compiled JS files
public/js/*.js

# Compiled CSS files
public/css/*.css
public/css/*.css.map

# node.js modules
node_modules

# Windows
ehthumbs.db
Thumbs.db
Destop.ini

# OS X
.DS_Store

# Visual Studio
*.tmp_proj
*.suo
*.user
*.sln.docstates

# Eclipse
*.project
*.settings

# Sublime Text
*.sublime-workspace

# Espresso
*.esproj

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Local ideas
*.idea.md
*.ideas.md
