*.lock

database/
vendor/

# Windows image file caches
ehthumbs.db
Thumbs.db
Destop.ini

# Mac junk file
.DS_Store

# Swap files
*.swp

# Local ideas
*.idea.md

# Visual Studio files
*.tmp_proj
*.suo
*.user
*.sln.docstates

*.tmp
*.bak

*.project
*.settings/

# SublimeText
*.sublime-workspace

# Espresso projects
*.esproj

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
