// LAYOUT
// ======

header {
	background: url(../imgs/top-bg.png);
	color: $grey-darker;
	// height: 100px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	.logo {
		background: url(../imgs/logo.png) no-repeat;
		float: left;
		height: 0;
		margin-top: 15px;
		overflow: hidden;
		padding: 72px 0 0 0;
		width: 199px;
	}
	.nav {
		@extend %medium-bold-type;
		padding: 40px 0 0 0;
		text-align: right;
		margin-bottom: 20px;
		a {
			margin-left: 25px;
			display: inline-block;
			@media screen and (max-width: 549px) {
				display: block;
				text-align: left;
				margin: 20px 0;
			}
		}
		/*
		&:before {
			border-right: 1px solid #548880;
			box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
			content: "";
			display: inline-block;
			height: 80px;
			margin: 0 20px -30px 20px;
			width: 0;
		}
		*/
		/*
		a:after {
			// border-right: 1px solid #548880;
			box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
			content: "";
			display: inline-block;
			height: 80px;
			margin: 0 10px -30px;
			width: 0;
		}
		*/
	}
	.icon {
		background: rgba(255, 255, 255, 0.3);
		display: inline-block;
		margin: 0 10px 0 0;
		padding: 0 6px 3px 6px;
	}
}
.main {
	background: url(../imgs/texture.png);
	border-top: 1px solid $grey;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	color: $grey-darker;
	min-height: 400px;
	padding: 10px 0 40px;
	.button {
		display: inline-block;
	}
	.aside {
		// margin: 20px 0 0;
		p {
			margin-bottom: 0;
			font-style: normal;
		}
	}
	form {
		margin: 0;
		width: 100%;
	}
	h2, h3, p {
		margin: 20px 0;
	}
}
