// COLOURS
// =======

$black: #000;
$grey-dark: #555;
$grey-darker: #333;
$grey-light: #46453f;
$grey-lighter: #5b5a57;
$grey-lightest: #cecece;
$grey: #2d2c28;
$turquoise-dark: rgb(26, 140, 127);
$turquoise: rgb(68, 190, 174);
$white-darker: #fafafa;
$white: #fff;
$yellow: #f6cf1b;

// TYPE
// ====

$bold: 700;
$extra-bold: 800;
$light: 100;
$normal: 200;
$semibold: 400;
$typeface: "Open Sans", sans-serif;
