.conduct {
	color: $grey-dark;
	display: inline-block;
	font: $bold 12pt $typeface;
	padding: 10px;
	text-transform: uppercase;
}
.match {
	border-top: 2px solid #ccc;
	font: $normal 9.5pt $typeface;
	margin: 20px 0;
	padding-top: 20px;
	h3 {
		font-family: $typeface;
		font-size: 20pt;
		font-weight: $bold;
		margin: 0;
	}
	i {
		margin-left: 10px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		background: $turquoise;
		color: $white;
		display: inline-block;
		font: $normal 9.5pt $typeface;
		margin-right: 5px;
		padding: 5px 15px;
		text-transform: uppercase;
		@media screen and (max-width: 549px) {
			display: block;
			margin: 5px 0;
		}
	}
	.other {
		color: $grey-dark;
		font-family: $typeface;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.email {
		font: italic $normal 14pt $typeface;
		margin: 10px 0;
	}
}
