.availability {
	background: rgba(205, 205, 205, 0.3);
	font: $normal 14pt $typeface;
	margin: 20px 0 0;
	padding: 20px;
	h3 {
		margin: 0 0 20px;
	}
	label {
		display: none;
	}
	input[type="radio"] + label {
		display: inline;
		vertical-align: middle;
		margin: 10px;
	}
	select {
		margin: 0 5px 10px;
		&:first-of-type {
			margin-left: 0;
		}
		@media screen and (max-width: 767px) {
			display: block;
			margin: 10px 0;
		}
	}
}
.schedule-wrapper {
	display: block;
	width: 100%;
	@media screen and (max-width: 767px) {
		overflow-x: scroll;
	}
}
.schedule {
	border-spacing: 0;
	border: none;
	font: $normal 14pt $typeface;
	margin-top: 20px;
	table-layout: fixed;
	width: 100%;
	@media screen and (max-width: 767px) {
		width: 960px;
	}
}
table tr > :first-child {
	background: url(../imgs/texture.png);
	border-right: 2px solid $grey-light;
	color: #3b5b56;
	font: $semibold 13pt $typeface;
	text-align: right;
}
table thead tr th {
	@extend %medium-bold-type;
	color: $white;
	text-align: center;
}
thead > :first-child {
	background: $grey-light;
	color: $white;
	font-family: $typeface;
	font-size: 16pt;
	height: 50px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}
thead > :last-child {
	border-right: 2px solid $grey-light;
}
tbody > :nth-child(2n) {
	background: rgba(206, 206, 206, 0.3);
}
tbody > :last-child > :first-child {
	border-bottom: none;
}
tbody tr > :last-child {
	border-right: 2px solid $grey-light;
}
tbody > :last-child td {
	border-bottom: 2px solid $grey-light;
}
td.available,
td.selected,
td[data-available] {
	background: $turquoise;
}
