// Colors

$black: #000;
$white: #fafafa;

// 3 shades of grey
$grey-dark: #2d2c28;
$grey: #46453f;
$grey-light: #5b5a57;

// Turquoise
$turquoise-dark: rgb(26, 140, 127);
$turquoise: rgb(68, 190, 174);

// Yellows
$yellow: #f6cf1b;

// Type sizes
$bold: 700;
$extra-bold: 800;
$light: 100;
$normal: 200;
$semibold: 400;

// Site-wide typeface
$typeface: "Open Sans", sans-serif;
